*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.btn-nav{
    cursor: pointer;
    margin: 5px;
}

main{
    height: 909px;
    width: -webkit-fill-available;
    background-image: url(./assets/background-barber.jpeg);
    background-size: cover;
    background-position: center;
}