*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s;
    background-color: black;
    z-index: 100;
}

.sticky{
    height: 180px;
    transition: all 1s;
}

.logo{
    position: relative;
    top: -30px;
    left: 10px;
    /* Para corregir posición logo */
    transition: all 1s;
}

.logo-pequeño{
    position: relative;
    top: -80px;
    transform: scale(0.5);
    transition: all 1s;
}



main{
    min-height: 150vh;
}


@media (max-width: 486px){

}